body {
  position: relative;
  overflow-y: hidden;
}
footer {
  position: sticky;
  bottom: 0;
  background-color: black;
  z-index: 999;
}

.svg {
  width: 50px;
  height: 50px;
}
.svgContLike {
  width: 15px;
  height: 15px;
}
.listHome {
  list-style: none;
}
.svgLib {
  width: 30px;
  height: 30px;
}
.Svg-sc-ytk21e-0.bneLcE {
  fill: aliceblue;
}
.bi.me-2 {
  fill: aliceblue;
}
.logoCont {
  width: 130px;
  height: 75px;
}
.svgCont {
  width: 30px;
  height: 30px;
}

.nav-pills.nav-link.active {
  background-color: #212529;
}
.list-group-item.active {
  background-color: #212529;
}
h6 {
  font: 1em;
}
.d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-white {
  overflow-y: scroll;
  height: 54rem;
}
.col-9.col-lg-8 {
  overflow-y: scroll;
  height: 54rem;
}
.col-9.col-lg-8::-webkit-scrollbar {
  width: 13px;
}
.col-9.col-lg-8::-webkit-scrollbar-track {
  width: 10px;
  background-color: #212529;
}
.col-9.col-lg-8::-webkit-scrollbar-thumb {
  background-color: gray;
}
.d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-white::-webkit-scrollbar {
  width: 13px;
}
.d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-white::-webkit-scrollbar-track {
  width: 10px;
  background-color: #212529;
}
.d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-white::-webkit-scrollbar-thumb {
  background-color: gray;
}
.list-group-item.active {
  border-color: #212529;
}

.gradient {
  background: linear-gradient(
    70deg,
    rgba(2, 2, 2, 1) 0%,
    rgba(28, 28, 28, 1) 59%,
    rgba(33, 33, 33, 1) 100%
  );
}
.NtkAQg9R1r5CjuP0XHwl {
  background-color: #242424;
  border: 0;
  border-radius: 500px;
  color: #fff !important;
  height: 48px;
  padding: 6px 36px;
  text-overflow: ellipsis;
  width: 100%;
}
